workflows/htb-tracker-workflow.json
{
  "name": "HackTheBox Progress Tracker",
  "nodes": [
    {
      "parameters": {},
      "id": "88e6f3fa-df1f-4688-a0fa-ab3b8d222975",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3200,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const htbUserId = 'USER ID'; \n\n// Fetching from the API instead of the HTML page\nconst apiUrl = `https://www.hackthebox.com/api/v4/user/public/profile/${htbUserId}`;\n\nreturn [{\n  json: {\n    userId: htbUserId,\n    apiUrl: apiUrl,\n    profileUrl: `https://www.hackthebox.com/u/${htbUserId}`,\n    timestamp: new Date().toISOString(),\n    note: \"Use an HTTP Request node with the apiUrl next.\"\n  }\n}];"
      },
      "id": "4c761c49-940c-41e6-b44d-94dd29fcc1f0",
      "name": "Load HTB Profile URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        352
      ]
    },
    {
      "parameters": {
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 30000
        }
      },
      "id": "e9a92115-e5d4-4bde-990b-12d02eedce0d",
      "name": "Fetch HTB Profile Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3648,
        352
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get the input safely\nconst input = $input.first().json;\n\n// Since your previous node returned a 'data' object, we'll look there first\nconst profile = input.data || input;\n\n// Check if we actually have profile data\nif (!profile || !profile.name) {\n    return [{\n        json: {\n            error: \"Profile data not found. Check the previous node output.\",\n            receivedKeys: Object.keys(input)\n        }\n    }];\n}\n\nreturn [{\n    json: {\n        username: profile.name || 'Unknown',\n        fullName: profile.full_name || 'N/A',\n        country: profile.country ? profile.country.name : 'Unknown',\n        \n        // Note: The public profile API doesn't always include points/rank \n        // unless you use the /profile/content/ endpoint. \n        // If they are missing, we'll default to 0/Unranked.\n        rank: profile.rank || 'Unranked',\n        points: profile.points || 0,\n        userOwns: profile.system_owns || 0,\n        rootOwns: profile.root_owns || 0,\n        \n        processedAt: new Date().toISOString()\n    }\n}];\n"
      },
      "id": "ce6de733-cf4e-4990-9ee1-b5f1f3d4dbe4",
      "name": "Parse Profile Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst current = $input.first().json;\n\n// 1. Initialize History and Achievement Log if they don't exist\nif (!staticData.history) staticData.history = [];\nif (!staticData.achievements) staticData.achievements = [];\n\n// 2. Get the most recent snapshot for comparison\nconst previous = staticData.history.length > 0 \n    ? staticData.history[staticData.history.length - 1] \n    : null;\n\nlet newAchievementsFound = [];\n\n// 3. Comparison Logic (Only runs if we have a baseline)\nif (previous) {\n    if (current.userOwns > previous.userOwns) {\n        const diff = current.userOwns - previous.userOwns;\n        newAchievementsFound.push(`Gained ${diff} User Own(s)`);\n    }\n    if (current.rootOwns > previous.rootOwns) {\n        const diff = current.rootOwns - previous.rootOwns;\n        newAchievementsFound.push(`Gained ${diff} System Root(s)`);\n    }\n    if (current.points > previous.points) {\n        newAchievementsFound.push(`Gained ${current.points - previous.points} Points`);\n    }\n    if (current.rank !== previous.rank) {\n        newAchievementsFound.push(`Rank up: ${current.rank}`);\n    }\n} else {\n    // This is the first run! We record the starting point.\n    newAchievementsFound.push(\"HTB Tracker Initialized\");\n}\n\n// 4. Update Global Achievement Log\nif (newAchievementsFound.length > 0) {\n    newAchievementsFound.forEach(msg => {\n        staticData.achievements.unshift({\n            message: msg,\n            date: new Date().toISOString()\n        });\n    });\n}\n\n// 5. Save Snapshot if data changed (to prevent duplicate history points)\nconst hasChanged = !previous || (\n    current.userOwns !== previous.userOwns || \n    current.rootOwns !== previous.rootOwns || \n    current.points !== previous.points\n);\n\nif (hasChanged) {\n    staticData.history.push({\n        ...current,\n        timestamp: new Date().toISOString()\n    });\n    \n    // Keep last 50 snapshots for the chart\n    if (staticData.history.length > 50) staticData.history.shift();\n}\n\n// 6. Keep achievement log manageable\nif (staticData.achievements.length > 20) staticData.achievements.pop();\n\nreturn [{\n    json: {\n        summary: {\n            username: current.username,\n            currentPoints: current.points,\n            isFirstRun: previous === null,\n            newAchievements: newAchievementsFound\n        },\n        dashboardData: {\n            history: staticData.history,\n            fullAchievementLog: staticData.achievements\n        }\n    }\n}];"
      },
      "id": "a00c6d0c-641d-44fd-bf21-cdc21e81542c",
      "name": "Load Previous Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        352
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the input safely\nconst item = $input.first().json;\n\n// 2. Extract values with fallbacks (handles nested or flat structures)\nconst current = item.current || item.summary || {};\nconst previous = item.previous || {};\nconst isFirstRun = item.isFirstRun || (Object.keys(previous).length === 0);\n\nconst achievements = [];\n\n// 3. Logic with safety checks\nif (isFirstRun) {\n    achievements.push({ \n        type: 'initial', \n        message: `Started tracking! Current Machines: ${current.userOwns || 0}` \n    });\n} else if (current && previous) {\n    // Only compare if both exist and have data\n    if ((current.userOwns || 0) > (previous.userOwns || 0)) {\n        achievements.push({ message: `${current.userOwns - previous.userOwns} new user flag(s)!` });\n    }\n    if ((current.rootOwns || 0) > (previous.rootOwns || 0)) {\n        achievements.push({ message: ` ${current.rootOwns - previous.rootOwns} new root flag(s)!` });\n    }\n    if (current.rank && previous.rank && current.rank !== previous.rank) {\n        achievements.push({ message: `Rank up: ${current.rank}!` });\n    }\n}\n\nreturn [{ \n    json: { \n        ...item, \n        achievements, \n        hasNewAchievements: achievements.length > 0 \n    } \n}];"
      },
      "id": "863ff6aa-0df9-4c12-b693-b83721c7b6fc",
      "name": "Detect New Achievements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the current data from the previous node\nconst currentData = $input.first().json.current;\n\n// 2. Access n8n's internal storage for this workflow\nconst staticData = $getWorkflowStaticData('global');\n\n// 3. Update the storage\nstaticData.lastKnownProgress = currentData;\n\n// 4. (Optional) Initialize a history array if you want charts later\nif (!staticData.history) {\n  staticData.history = [];\n}\n\n// Only add to history if it's new data\nconst lastEntry = staticData.history[staticData.history.length - 1];\nif (!lastEntry || lastEntry.points !== currentData.points) {\n  staticData.history.push({\n    ...currentData,\n    timestamp: new Date().toISOString()\n  });\n}\n\n// Keep history manageable (last 100 entries)\nif (staticData.history.length > 100) {\n  staticData.history.shift();\n}\n\nreturn [{\n  json: {\n    message: \"Data persisted successfully in n8n storage\",\n    historyCount: staticData.history.length,\n    current: currentData\n  }\n}];"
      },
      "id": "87fce1c0-6eb7-4fb7-be0e-b035ce84af57",
      "name": "Save Current Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the input safely\nconst item = $input.first().json;\nconst current = item.current || {};\n\n// 2. Access n8n's internal \"file\" storage\nconst staticData = $getWorkflowStaticData('global');\n\n// 3. Initialize history if this is the first time\nif (!staticData.history) {\n    staticData.history = [];\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst entry = {\n    date: today,\n    totalMachines: current.userOwns || 0,\n    points: current.points || 0\n};\n\n// 4. Update today's record or add a new one (Same logic as your code)\nconst idx = staticData.history.findIndex(h => h.date === today);\n\nif (idx >= 0) {\n    staticData.history[idx] = entry;\n} else {\n    staticData.history.push(entry);\n}\n\n// 5. Keep history manageable (last 30 days)\nif (staticData.history.length > 30) {\n    staticData.history.shift();\n}\n\n// 6. Return everything so the next node can use it\nreturn [{ \n    json: { \n        ...item, \n        history: staticData.history \n    } \n}];"
      },
      "id": "5dcabffe-5eae-4de3-b61a-45222cc204a2",
      "name": "Update Progress History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the input safely\nconst item = $input.first().json;\n\n// 2. Extract with fallbacks (Looks in root, 'current', or 'summary')\nconst current = item.current || item.summary || item;\nconst achievements = item.achievements || [];\nconst history = item.history || [];\n\n// 3. Prepare Chart Data (with safety check for empty history)\nconst dates = history.length ? history.map(h => h.date) : [new Date().toISOString().split('T')[0]];\nconst counts = history.length ? history.map(h => h.totalMachines) : [current.userOwns || 0];\n\n// 4. Generate HTML\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n    <style>\n        body { background:#0a0e27; color:white; font-family:sans-serif; padding:20px; display:flex; flex-direction:column; align-items:center; }\n        .card-container { display:flex; width: 100%; max-width: 600px; }\n        .card { background:rgba(255,255,255,0.05); padding:20px; border-radius:10px; margin:10px; text-align:center; flex:1; border: 1px solid #9fef0033; }\n        .card h2 { color: #9fef00; margin: 0; }\n        #chartWrapper { width: 100%; max-width: 600px; margin-top: 20px; background: rgba(255,255,255,0.02); padding: 15px; border-radius: 10px; }\n        h1 { color: #9fef00; }\n    </style>\n</head>\n<body>\n    <h1>${current.username || 'HTB Hacker'}</h1>\n    \n    <div class=\"card-container\">\n        <div class=\"card\"><h2>${current.userOwns || 0}</h2><p>Machines</p></div>\n        <div class=\"card\"><h2>${current.points || 0}</h2><p>Points</p></div>\n    </div>\n\n    <div id=\"chartWrapper\">\n        <canvas id=\"progressChart\"></canvas>\n    </div>\n\n    <script>\n        new Chart(document.getElementById('progressChart'), {\n            type: 'line',\n            data: {\n                labels: ${JSON.stringify(dates)},\n                datasets: [{\n                    label: 'Machine Owns',\n                    data: ${JSON.stringify(counts)},\n                    borderColor: '#9fef00',\n                    backgroundColor: 'rgba(159, 239, 0, 0.1)',\n                    fill: true,\n                    tension: 0.3\n                }]\n            },\n            options: {\n                plugins: { legend: { labels: { color: 'white' } } },\n                scales: {\n                    y: { ticks: { color: 'white' }, grid: { color: 'rgba(255,255,255,0.1)' } },\n                    x: { ticks: { color: 'white' }, grid: { color: 'rgba(255,255,255,0.1)' } }\n                }\n            }\n        });\n    </script>\n</body>\n</html>`;\n\nreturn [{ json: { dashboard: html } }];"
      },
      "id": "ca4707c5-23c6-4519-8cda-033ec55ace54",
      "name": "Generate HTML Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        352
      ]
    },
    {
      "parameters": {
        "operation": "html",
        "options": {
          "fileName": "dashboard.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5216,
        352
      ],
      "id": "b1e43b50-2e6c-42a2-9826-488dfd44c110",
      "name": "Save HTML Dashboard"
    },
    {
      "parameters": {
        "subject": "={{ $now.toFormat('yyyy-MM-dd') }} | HTB Progress Report: {{ $('Parse Profile Data').item.json.username }}",
        "message": "=<p>Hello,</p>\n<p>Here is your daily <strong>Hack The Box</strong> progress update.</p>\n\n<div style=\"background: #f4f4f4; padding: 15px; border-left: 5px solid #9fef00; font-family: sans-serif;\">\n  <strong>Current Stats:</strong><br>\n  User: {{ $('Parse Profile Data').item.json.username }}<br>\n  Machines Owned: {{ $('Parse Profile Data').item.json.userOwns }}<br>\n  Total Points: {{ $('Parse Profile Data').item.json.points }}<br>\n  Rank: {{ $('Parse Profile Data').item.json.rank }}\n</div>\n\n<p>Your interactive progress chart is attached as <strong>dashboard.html</strong>. Simply open the attachment in any web browser to view your stats.</p>\n\n<p>Keep hacking!</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5424,
        352
      ],
      "id": "98b811e6-e597-4a70-82c9-6b75c34a9b6d",
      "name": "Notification",
      "webhookId": "573828de-1162-49ec-9d9a-cca414e4c64b",
      "credentials": {
        "gmailOAuth2": {
          "id": "4rgf3onoG15TrvnQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Load HTB Profile URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load HTB Profile URL": {
      "main": [
        [
          {
            "node": "Fetch HTB Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTB Profile Data": {
      "main": [
        [
          {
            "node": "Parse Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Profile Data": {
      "main": [
        [
          {
            "node": "Load Previous Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Snapshot": {
      "main": [
        [
          {
            "node": "Detect New Achievements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Achievements": {
      "main": [
        [
          {
            "node": "Save Current Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Current Snapshot": {
      "main": [
        [
          {
            "node": "Update Progress History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress History": {
      "main": [
        [
          {
            "node": "Generate HTML Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Dashboard": {
      "main": [
        [
          {
            "node": "Save HTML Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save HTML Dashboard": {
      "main": [
        [
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1175c1cf-81ab-4f1c-a2d7-d7d588a31144",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "420da16e8a4bbbd9d07a488b082e20b52badc29a41dd5a8a3840782b3e7ae978"
  },
  "id": "xtLLNXaCN8R-_1y7dWree",
  "tags": []
}